<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schoolTao.dao.TurnMapper">
  <resultMap id="BaseResultMap" type="com.schoolTao.pojo.Turn">
    <id column="turn_id" jdbcType="INTEGER" property="turnId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="turn_pic" jdbcType="VARCHAR" property="turnPic" />
    <result column="turn_content" jdbcType="VARCHAR" property="turnContent" />
    <result column="turn_time" jdbcType="TIMESTAMP" property="turnTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    turn_id, goods_id, turn_pic, turn_content, turn_time
  </sql>
  <select id="selectByExample" parameterType="com.schoolTao.pojo.TurnExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from turn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from turn
    where turn_id = #{turnId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from turn
    where turn_id = #{turnId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.schoolTao.pojo.TurnExample">
    delete from turn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.schoolTao.pojo.Turn">
    insert into turn (turn_id, goods_id, turn_pic, 
      turn_content, turn_time)
    values (#{turnId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{turnPic,jdbcType=VARCHAR}, 
      #{turnContent,jdbcType=VARCHAR}, #{turnTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.schoolTao.pojo.Turn">
    insert into turn
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="turnId != null">
        turn_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="turnPic != null">
        turn_pic,
      </if>
      <if test="turnContent != null">
        turn_content,
      </if>
      <if test="turnTime != null">
        turn_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="turnId != null">
        #{turnId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="turnPic != null">
        #{turnPic,jdbcType=VARCHAR},
      </if>
      <if test="turnContent != null">
        #{turnContent,jdbcType=VARCHAR},
      </if>
      <if test="turnTime != null">
        #{turnTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.schoolTao.pojo.TurnExample" resultType="java.lang.Long">
    select count(*) from turn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update turn
    <set>
      <if test="record.turnId != null">
        turn_id = #{record.turnId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsId != null">
        goods_id = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.turnPic != null">
        turn_pic = #{record.turnPic,jdbcType=VARCHAR},
      </if>
      <if test="record.turnContent != null">
        turn_content = #{record.turnContent,jdbcType=VARCHAR},
      </if>
      <if test="record.turnTime != null">
        turn_time = #{record.turnTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update turn
    set turn_id = #{record.turnId,jdbcType=INTEGER},
      goods_id = #{record.goodsId,jdbcType=INTEGER},
      turn_pic = #{record.turnPic,jdbcType=VARCHAR},
      turn_content = #{record.turnContent,jdbcType=VARCHAR},
      turn_time = #{record.turnTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.schoolTao.pojo.Turn">
    update turn
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="turnPic != null">
        turn_pic = #{turnPic,jdbcType=VARCHAR},
      </if>
      <if test="turnContent != null">
        turn_content = #{turnContent,jdbcType=VARCHAR},
      </if>
      <if test="turnTime != null">
        turn_time = #{turnTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where turn_id = #{turnId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.schoolTao.pojo.Turn">
    update turn
    set goods_id = #{goodsId,jdbcType=INTEGER},
      turn_pic = #{turnPic,jdbcType=VARCHAR},
      turn_content = #{turnContent,jdbcType=VARCHAR},
      turn_time = #{turnTime,jdbcType=TIMESTAMP}
    where turn_id = #{turnId,jdbcType=INTEGER}
  </update>
</mapper>