@CHARSET "UTF-8";
.el-tabs--border-card>.el-tabs__content {
    padding: 0px;
}
.qg_zkpl{
	display: none;
}
.qg_card:hover .qg_plsl{
	display: none !important;
}
.qg_card:hover .qg_zkpl{
	display: block ;
}